APP_ENV=development

# --- docker-compose.yml để khởi tạo container postgres/minio ---
POSTGRES_USER=ldms
POSTGRES_PASSWORD=ldms
POSTGRES_DB=ldms
MINIO_ROOT_USER=ldms
MINIO_ROOT_PASSWORD=ldms12345
MINIO_BUCKET=ldms

# --- astAPI (app/core/config.py) ---
DATABASE_URL=postgresql+psycopg://ldms:ldms@localhost:5434/ldms
MINIO_ENDPOINT=localhost:9002
MINIO_ACCESS_KEY=ldms
MINIO_SECRET_KEY=ldms12345
CORS_ORIGINS=["http://localhost:5173"]
